# See https://help.github.com/articles/ignoring-files for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# production
/out

# misc
.DS_Store

# certificates
*.pem

# log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
